{% extends "base.html" %}

{% block title %}
:: Home
{% endblock title %}

{% block content_title %}
Modules
{% endblock content_title %}

{% block content %}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    {% for module in modules %}
    <div class="feature col">
        <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em">
                <use xlink:href={{ module.icon }}></use>
            </svg>
        </div>
        <h3 class="fs-2">{{ module.name }}</h3>
        <p>{{ module.description }}</p>
        <ul>
            {% for sub_module in module.sub_modules %}
            <li><a class="nav nav-link" href="{{ url_for( sub_module.view_name ) }}">{{ sub_module.name }}</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for( module.view_name )}}" class="icon-link d-inline-flex align-items-center">
            Show
            <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right"></use>
            </svg>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
